img{
    width: 350px;
    height: 75px;
    border-color: crimson;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

#About{
    text-shadow: 3px 3px blue;
    color: brown;
}

p::first-letter{
    font-size: 300%;
    font-weight: bold;
}

#a1, #a2{
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

#b{
    font-size: 150%;
    text-decoration: underline;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

li{
    margin: 10px;
}

#NewYork, #Austin, #Sydney{
    color: red;
}

#twitter{
    color: darkcyan;
    text-shadow: 2px 2px 3px black;
    text-decoration: none;
    font-weight: bold;
}

h1{
    color: brown;
}

table, tr, th, td{
    border: 1px solid;
    border-color: darkgray;
}

td{
    text-align: center;
}

th, td{
    height: 30px
}

table{
    width: 15%;
    border-collapse: collapse;
}

footer{
    margin-top: 20px;
}

p, table, ul, footer{
    font-family: Arial, Helvetica, sans-serif;
}